---
title: 日常吐槽
description: "吐槽生活，吐槽世界"
---

<div class="main-content index-page clearfix ">
	<div class="post-lists">
		<div class="post-lists-body">
			<style>
				.shuoshuo-list{
					list-style: none;
					background: none;
				}
				.shuoshuo-list>li{
					position: relative;
					overflow: hidden;
					margin: 10px 0 35px;
					perspective: 5000px;
					word-break: normal;
				}
				.clear-fix::after{
					content: '';
					display: table;
					line-height: 0;
					clear: both;
				}
				.shuoshuo-icon{
					position: absolute;
					display: block;
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
				.shuoshuo-content{
					float: left;
					padding-left: 65px;
					color: #fff;
				}
				.shuoshuo-content p{
					line-height: 1.8;
				}
				.shuoshuo-content-inner{
					position: relative;
					padding: 10px;
					width: 90%;
					border-radius: 5px;
				}
				.shuoshuo-content-inner::before{
					content: '';
					border-top: 25px solid transparent;
					border-right: 50px solid #000;
					border-bottom: 25px solid transparent;
					position: absolute;
					left: -10px;
					top: 0;
					z-index: -1;
				}
				.shuoshuo-info{
					border-top: 1px dashed rgba(82, 82, 82, 0.38);
					margin-top: 7px;
					padding-top: 7px;
					font-size: 12px;
					color: #f7f7f7;
				}
			</style>
			<ul class="shuoshuo-list">
	  {% for posts in site.posts %}
	   {% if posts.bullshit%}
	   			<li class="clear-fix">
	   				<img class="shuoshuo-icon" src="{{ site.url }}/style/favicons/favicon.ico">
	   				<div class="shuoshuo-content">
	   					<div class="shuoshuo-content-inner bg-{{posts.background }}">
	   						<p>{{ posts.content | strip_html | strip_newlines | truncate: 100 }}</p>
	   						<div class="shuoshuo-info">
	   							<span>{{ posts.date | date: "%F %H:%M:%S "}}</span>
	   						</div>
	   					</div>
	   					
	   				</div>
	   				
	   			</li>

		<!-- <div class="post-list-item">
				<div class="post-list-item-container">
					 <div class="item-thumb  bg-{{posts.background }}" style="background-image:url('{{posts.background-image }}');"></div>
          	<a href="{{ posts.url }}">
	             <div class="item-desc">
		<p>{{ posts.content | strip_html | strip_newlines | truncate: 100 }}</p>
						</div>
					</a>
					<div class="item-slant reverse-slant  bg-{{ posts.background }}"></div>
					<div class="item-slant"></div>
					<div class="item-label">
						<div class="item-title"><a href="{{ posts.url }}">{{ posts.title }}</a></div>
						<div class="item-meta clearfix">
						<div class="item-meta-ico bg-ico-book" style="background: url('../style/images/bg-ico.png') no-repeat;background-size: 40px auto;"></div>
              <div class="item-meta-cat">
				 <a href="category/thoughts/index.html" title="访问 {{  posts.category }}"  data-hover="{{ posts.category }}">{{ posts.category }}</a>
				 <a href="category/thoughts/index.html" title="访问 {{ posts.date | date: "%Y"}}" data-hover="{{ posts.date | date: "%F %H:%M:%S "}}">{{ posts.date | date: "%F %H:%M:%S "}}</a></div>
						</div>
					</div>
				</div>
	  </div> -->
			 {% endif %}
       {% endfor %}
   			</ul>
	</div>
	</div>
  {% include pagination.html %}